*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), local("Cuprum-Regular"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Italic"), local("Cuprum-Italic"), url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold"), local("Cuprum-Bold"), url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #a9a9a9;
  --basic-backgraund: #f1f5f7;
  --basic-lightbeige: #f9f5f0;
  --basic-beige: #f7f3ec;
  --basic-ligtpink: #f2f6f8;
  --basic-darkblue: #32425c;
  --basic-dark: #293449;
  --white: #ffffff;
  --white-opacity: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --black-opacity:rgba(0, 0, 0, 0.15);
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --speacial-green: #367315;
  --special-yellowlight: #ffd180;
  --special-dark: #405069;
  --special-beige: #f4f4f4;
  --special-ligtpink: #f3f7f9;
  --special-pink: #f1f1f1;
  --dark: #212A3A;
  --success: #5fbb2d;
  --error: #ba2732;
  --border-card: #eaeaea;
  --border-pink: #e5e5e5;
}

.page {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Verdana, sans-serif;
}

.page-header {
  background-color: var(--basic-ligtpink);
}

.menu {
  background-color: var(--basic-dark);
}

.menu__link {
  padding: 12px 56px 17px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--basic-red);
  -webkit-box-shadow: 0px 5px 0px 0px var(--error);
          box-shadow: 0px 5px 0px 0px var(--error);
}

.search__btn {
  visibility: hidden;
}

.search__field {
  background-color: inherit;
  border: none;
}

.search__field::-webkit-input-placeholder {
  font-size: 18px;
  color: var(--white);
}

.checkout__link {
  color: var(--white);
}

.checkout {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-info__text {
  margin: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-contact__tel {
  display: inline-block;
  padding: 7px 45px 8px 74px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--white);
}

.header-contact__address {
  margin: 0;
  font-size: 14px;
  color: var(--basic-darkblue);
}

.user-menu__link {
  display: inline-block;
  padding: 12px 27px 12px 45px;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--white);
}

.nav {
  background-color: var(--basic-darkblue);
}

.nav__link {
  color: var(--white);
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.card--materials {
  background-color: var(--special-yellow);
}

.card--tools {
  background-color: var(--special-blue);
}

.card--machinery {
  background-color: var(--special-lilac);
}

.card--sale {
  background-color: var(--special-greenlight);
}

.card--delivery {
  background-color: var(--special-yellow);
}

.card__title {
  margin: 0;
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  background: var(--white-opacity);
}

.slider__description {
  margin: 0;
}

.slider-desc--large {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider__container {
  display: none;
}

.slider__container--current {
  display: block;
}

.popular-goods__header {
  background-color: var(--basic-lightbeige);
}

.popular-goods__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.card-good {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  border: 1px solid var(--border-card);
}

.card-good__title {
  margin: 0;
}

.card-good__prace {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.card-good__prace--old {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: var(--basic-greylight);
}

.card-good__prace--new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 32px;
  color: var(--white);
  background-color: var(--basic-red);
  background: linear-gradient(-45deg, transparent 15px, var(--basic-red) 0) bottom left, linear-gradient(-135deg, transparent 15px, var(--basic-red) 0) top left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.card-good__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}

.card-good__button--buy {
  padding: 11px 34px 9px 33px;
  color: var(--white);
  background-color: var(--basic-green);
  -webkit-box-shadow: inset 0px -3px 0px var(--speacial-green);
          box-shadow: inset 0px -3px 0px var(--speacial-green);
  border-radius: 2px;
}

.card-good__button--bookmark {
  padding: 11px 34px 9px 33px;
  color: var(--basic-darkblue);
  background-color: transparent;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  border-radius: 0;
  background-color: var(--basic-red);
}

.brands__header {
  display: block;
  background-color: var(--basic-lightbeige);
}

.brands__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.brands__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.brands__item {
  height: 145px;
}

.service {
  background-color: var(--basic-backgraund);
}

.service__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.service__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.service__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-menu {
  padding-left: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--basic-darkblue);
}

.service-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 61px;
  padding-left: 22px;
}

.service-menu__item:hover {
  color: var(--basic-darkblue);
  background-color: var(--white);
}

.service-menu__item--delivery {
  border-bottom: solid 1px var(--basic-dark);
}

.service-menu__item--guarantee {
  border-top: solid 1px var(--special-dark);
  border-bottom: solid 1px var(--basic-dark);
}

.service-menu__item--credit {
  border-top: solid 1px var(--special-dark);
}

.company__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.company__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.company__item {
  padding-top: 0;
  padding-bottom: 12px;
}

.company__item::before {
  content: "";
  position: relative;
  left: -50px;
  top: 15px;
  width: 25px;
  height: 2px;
  padding-left: 12px;
  background: var(--basic-red);
}

.company__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
}

.company__list {
  list-style: none;
  margin: 0;
}

.company__item {
  padding: 0;
}

.contacts {
  margin-bottom: 10px;
}

.contacts__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.contacts__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.contacts__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
}

.contacts__link {
  display: inline-block;
  width: 300px;
  height: 158px;
}

.footer {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--basic-darkblue);
}

.footer--submenu {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-dark);
}

.footer__copyright {
  max-width: 227px;
  margin: 0;
}

.footer__text {
  margin: 0;
}

.footer__link {
  color: var(--special-yellowlight);
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--dark);
}

.footer__link--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
}

.footer__contact {
  font-style: normal;
  color: var(--basic-backgraund);
}

.footer-nav {
  margin: 0;
}

.footer-nav__link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-backgraund);
}

.footer-nav__link--yellow {
  color: var(--special-yellowlight);
}

.footer__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials {
  margin: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-window--feedback {
  border-top: 5px solid var(--basic-red);
  -webkit-box-shadow: 0px 4px 20px var(--black-opacity);
          box-shadow: 0px 4px 20px var(--black-opacity);
}

.feedback__wrapper {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.feedback__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--special-beige);
}

.feedback__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  border: none;
}

.user__inner {
  font-size: 21px;
  line-height: 21px;
  background-color: var(--white);
}

.user__text {
  padding: 12px 57px 12px 56px;
  margin: 0;
}

.user__link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkblue);
}

.page-content__header {
  margin: 0;
  background-color: var(--basic-ligtpink);
}

.page-content__title {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.page-content__article {
  background-color: var(--basic-backgraund);
}

.page-content__text {
  margin: 0;
}

.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs__item {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs__link {
  color: var(--black);
}

.filter__header {
  background-color: var(--basic-beige);
}

.filter__title {
  padding: 10px 151px 10px 18px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}

.filter__subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__item {
  font-size: 15px;
  line-height: 19px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}

.filter__fields {
  border: none;
}

.filter__btn {
  padding: 10px 79px 10px 79px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--border-card);
}

.sort {
  background-color: var(--basic-beige);
}

.sort__note,
.sort__link {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}

.sort__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort__link {
  -webkit-text-decoration: underline dotted var(--basic-red);
          text-decoration: underline dotted var(--basic-red);
  color: var(--black);
  opacity: 0.3;
}

.sort__link:hover {
  -webkit-text-decoration: underline var(--basic-red);
          text-decoration: underline var(--basic-red);
  opacity: 1;
}

.sort__link:focus {
  text-decoration: none;
  color: var(--basic-red);
  opacity: 1;
}

.pagination__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__link {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  color: var(--black);
  border: 1px solid var(--border-pink);
  border-radius: 2px;
}

.modal-cart__text {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.modal-cart__wrap {
  background-color: var(--special-pink);
}

.modal-cart__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.modal-cart__link--order {
  color: var(--white);
  background-color: var(--basic-red);
}

.modal-cart__link--continue {
  color: var(--black);
  background-color: var(--white);
}
/*# sourceMappingURL=style.css.map */