:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #a9a9a9;
  --basic-background: #f1f5f7;
  --basic-lightbeige: #f9f5f0;
  --basic-beige: #f7f3ec;
  --basic-lightpink: #f2f6f8;
  --basic-darkblue: #32425c;
  --basic-dark: #293449;
  --white: #ffffff;
  --black: #000000;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-green: #367315;
  --special-darkgreen: #518534;
  --special-yellowlight: #ffd180;
  --special-dark: #405069;
  --special-beige: #f4f4f4;
  --special-lightpink: #f3f7f9;
  --special-pink: #f1f1f1;
  --special-grey: #ababab;
  --special-red: #ca2c37;
  --dark: #212a3a;
  --darkblue: #161d29;
  --darkgrey: #1d2739;
  --success: #5fbb2d;
  --error: #ba2732;
  --border-card: #eaeaea;
  --border-pink: #e5e5e5;
  --range: #d7dcde;
  --range-green: #00ca74;
  --shadow: #cfcfcf;
  --grey: #b5b5b5;
  --greylight: #c5c5c5;
  --white-opacity03: rgba(255, 255, 255, 0.3);
  --white-opacity05: rgba(255, 255, 255, 0.5);
  --black-opacity: rgba(0, 0, 0, 0.15);
  --black-opacity24: rgba(0, 0, 0, 0.24);
  --sort-opacity: rgba(0, 0, 0, 0.3);
  --basic-greylight03: rgba(169, 169, 169, 0.3);
  --greylight03: rgba(197, 197, 197, 0.3);
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), local("Cuprum-Regular"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Italic"), local("Cuprum-Italic"), url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold"), local("Cuprum-Bold"), url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 68px;
}

.brands {
  padding-bottom: 70px;
}

.brands__header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 19px 26px 28px;
  margin-bottom: 20px;
  background-color: var(--basic-lightbeige);
}

.brands__title {
  margin: 0 334px 0 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.brands__btn {
  padding: 11px 38px 9px 39px;
}

.brands__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.brands__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__link:hover {
  -webkit-box-shadow: 0px 4px 20px var(--black-opacity);
          box-shadow: 0px 4px 20px var(--black-opacity);
}

.brands__link:active, .brands__link:focus {
  outline: none;
  opacity: 0.5;
}

.brands__img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.breadcrumbs {
  padding: 21px 20px 20px 0;
}

.breadcrumbs__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 41px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -25px;
  width: 9px;
  height: 11px;
  background-image: url("../img/icon/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item--current::after {
  display: none;
}

.breadcrumbs__link {
  color: var(--black);
}

.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  border-radius: 0;
  background-color: var(--basic-red);
  cursor: pointer;
}

.btn-primary:hover {
  outline: none;
  background-color: var(--special-red);
}

.btn-primary:active, .btn-primary:focus {
  outline: none;
  background-color: var(--error);
}

.card-good {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img img img" "title title title" ". old ." "new new new";
  -ms-grid-rows: 170px 1fr auto auto;
      grid-template-rows: 170px 1fr auto auto;
  width: 220px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  border: 1px solid var(--border-card);
  overflow: hidden;
}

.card-good:hover {
  -webkit-box-shadow: 0px 4px 20px var(--black-opacity);
          box-shadow: 0px 4px 20px var(--black-opacity);
}

.card-good:focus {
  outline: 1px dotted var(--black-opacity24);
}

.card-good__new {
  position: absolute;
  top: 10px;
  left: 145px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Verdana, sans-serif;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  background-position: 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card-good:hover .card-good__img {
  display: none;
}

.card-good:hover .card-good__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-good:focus-within .card-good__img {
  display: none;
}

.card-good:focus-within .card-good__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-good__wrapper {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 38px;
}

.card-good__button {
  display: block;
  width: 135px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Verdana, sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.card-good__button:focus {
  background-color: var(--special-darkgreen);
  outline: 1px dotted var(--black);
}

.card-good__button--buy {
  position: relative;
  padding: 10px 41px 10px 52px;
  margin-bottom: 10px;
  color: var(--white);
  background-color: var(--basic-green);
  -webkit-box-shadow: inset 0px -3px 0px var(--special-green);
          box-shadow: inset 0px -3px 0px var(--special-green);
  border-radius: 2px;
}

.card-good__button--buy:hover {
  background-color: var(--success);
}

.card-good__button--buy:active {
  background-color: var(--special-darkgreen);
}

.card-good__button--buy::before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 30px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.card-good__button--bookmark {
  padding: 8px 30px 7px 31px;
  color: var(--basic-darkblue);
  background-color: transparent;
  border: 3px solid var(--basic-green);
}

.card-good__button--bookmark:hover {
  border: 3px solid var(--basic-darkblue);
}

.card-good__button--bookmark:active {
  opacity: 0.5;
}

.card-good__button--bookmark:focus {
  background-color: transparent;
  border: 3px solid var(--basic-darkblue);
  outline: 1px dotted var(--black);
}

.card-good__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-good__title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
  margin: 8px 18px 6px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.card-good__price {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.card-good__price--old {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: old;
  padding-bottom: 13px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: var(--basic-greylight);
}

.card-good__price--new {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: new;
  position: relative;
  padding: 10px 25px 10px 32px;
  margin: 0 51px 21px 45px;
  color: var(--white);
  background-color: var(--basic-red);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 5px 0 0 5px;
}

.card-good__price--new::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 122px;
  width: 19px;
  height: 38px;
  border-top: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
  border-bottom: 19px solid transparent;
}

.card {
  position: relative;
  padding-top: 20px;
  padding-right: 143px;
  padding-bottom: 21px;
  padding-left: 22px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card--materials {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: materials;
  background-color: var(--special-yellow);
  background-image: url("../img/icon/materials.svg");
  background-position: 83% 56%;
}

.card--tools {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tools;
  background-color: var(--special-blue);
  background-image: url("../img/icon/tools.svg");
  background-position: 86% 56%;
}

.card--machinery {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: machinery;
  background-color: var(--special-lilac);
  background-image: url("../img/icon/machinery.svg");
  background-position: 86% 50%;
}

.card--sale {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: sale;
  background-color: var(--special-greenlight);
  background-image: url("../img/icon/sale.svg");
  background-position: 82% 50%;
}

.card--delivery {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: delivery;
  background-color: var(--special-yellow);
  background-image: url("../img/icon/delivery.svg");
  background-position: 86% 50%;
}

.card__title {
  margin: 0 0 14px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  background: var(--white-opacity03);
}

.card__link:hover {
  background: var(--greylight03);
}

.card__link:active, .card__link:focus {
  outline: none;
  background: var(--basic-greylight03);
}

.card__new {
  position: absolute;
  top: 10px;
  left: 225px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Verdana, sans-serif;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  background-position: 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cards__sort {
  margin-bottom: 28px;
}

.cards__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 48px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 59px;
}

.catalog__filter {
  margin-right: 21px;
}

.checkout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.checkout__link {
  position: relative;
  padding: 9px 38px 9px 43px;
  color: var(--white);
}

.checkout__link--cart {
  padding-left: 35px;
  padding-right: 26px;
}

.checkout__link--cart-add {
  padding-right: 21px;
  background-color: var(--basic-red);
}

.checkout__link--order {
  padding-left: 19px;
  padding-right: 16px;
  background-color: var(--basic-green);
}

.checkout__link:active, .checkout__link:focus {
  outline: none;
  color: var(--white-opacity05);
}

.checkout__link--order:hover {
  background-color: var(--success);
}

.checkout__link--bookmark:active, .checkout__link--cart:active, .checkout__link--bookmark:focus, .checkout__link--cart:focus {
  outline: none;
  background-color: var(--darkblue);
}

.checkout__link::before {
  content: " ";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.checkout__link--bookmark::before {
  background-image: url("../img/icon/bookmark.svg");
}

.checkout__link--cart::before {
  left: 15px;
  background-image: url("../img/icon/cart.svg");
}

.checkout__link:hover::before {
  opacity: 1;
}

.checkout__link:active::before {
  opacity: 0.5;
}

.checkout__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company {
  padding-right: 150px;
  max-width: 640px;
}

.company__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.company__text {
  margin: 0 0 5px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.company__text--promo {
  margin-bottom: 25px;
}

.company__list {
  padding: 0;
  margin: 0 0 20px 40px;
  list-style: none;
}

.company__item {
  position: relative;
  padding-top: 0;
  padding-bottom: 12px;
}

.company__item:last-child {
  padding-bottom: 0;
}

.company__item::before {
  content: " ";
  position: absolute;
  top: 10px;
  left: -40px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  background-position: 0 0;
}

.company__link {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  min-width: 220px;
  padding: 11px 40px 11px 40px;
  margin: 0;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.contacts__btn {
  padding: 11px 61px 9px 61px;
  margin-top: 25px;
}

.contacts__map-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__map-link:focus {
  outline: 1px dotted var(--black);
}

.contacts__map {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.directory {
  padding-top: 59px;
  padding-bottom: 59px;
}

.directory__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "materials tools machinery" "slider slider sale" "slider slider delivery";
  gap: 20px;
  grid-auto-columns: 1fr;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 41px 80px 0 80px;
}

.feedback__wrapper {
  margin-top: 0;
  margin-bottom: 13px;
  width: 220px;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.feedback__wrapper--user {
  margin-right: 20px;
}

.feedback__wrapper--text {
  margin-bottom: 37px;
  width: 460px;
}

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 7px 8px 7px 12px;
  margin-top: 11px;
  width: 220px;
  border: 2px solid var(--greylight);
  border-radius: 2px;
}

.feedback__item--text {
  padding-bottom: 7px;
  margin-bottom: 0;
  width: 460px;
  height: 114px;
  resize: none;
}

.feedback__item:focus {
  outline: none;
  border: 2px solid var(--basic-grey);
}

.feedback__item::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Tahoma, sans-serif;
  color: var(--basic-greylight);
}

.feedback__item:-ms-input-placeholder {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Tahoma, sans-serif;
  color: var(--basic-greylight);
}

.feedback__item::-ms-input-placeholder {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Tahoma, sans-serif;
  color: var(--basic-greylight);
}

.feedback__item::placeholder {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Tahoma, sans-serif;
  color: var(--basic-greylight);
}

.filter {
  width: 220px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}

.filter__header {
  background-color: var(--basic-beige);
  border-radius: 5px;
}

.filter__title {
  padding: 10px 151px 10px 18px;
  margin: 0 0 14px;
  font-size: 13px;
  font-weight: normal;
}

.filter__subtitle {
  padding-bottom: 17px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter__subtitle--power {
  padding-bottom: 23px;
}

.filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__item {
  padding-left: 35px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 19px;
}

.filter__item:last-child {
  margin-bottom: 0;
}

.filter__item--power {
  padding-left: 25px;
  margin-bottom: 22px;
}

.filter__item--power:last-child {
  margin-bottom: 0;
}

.filter__item .filter__sign {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter__item--power .filter__sign {
  padding-left: 10px;
}

.filter__checkbox + .filter__sign::before {
  content: " ";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 35px;
  height: 23px;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter__checkbox:hover + .filter__sign::before,
.filter__checkbox:focus + .filter__sign::before {
  background-image: url("../img/icon/checkbox-off-hover.svg");
}

.filter__checkbox:checked + .filter__sign::before {
  display: none;
}

.filter__checkbox:checked + .filter__sign::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 35px;
  height: 23px;
  background-image: url("../img/icon/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter__checkbox:checked:hover + .filter__sign::after,
.filter__checkbox:checked:focus + .filter__sign::after {
  background-image: url("../img/icon/checkbox-on-hover.svg");
}

.filter__checkbox:disabled + .filter__sign::before,
.filter__checkbox:disabled + .filter__sign {
  opacity: 0.5;
}

.filter__radio + .filter__sign::before {
  content: " ";
  position: absolute;
  left: -25px;
  top: -2px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--greylight);
  border-radius: 50%;
}

.filter__radio:hover + .filter__sign::before,
.filter__radio:focus + .filter__sign::before {
  border: 4px solid var(--grey);
  padding-right: 10px;
}

.filter__radio:checked + .filter__sign::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -17px;
  width: 9px;
  height: 9px;
  background-color: var(--greylight);
  border-radius: 50%;
}

.filter__radio:checked:hover + .filter__sign::after,
.filter__radio:checked:focus + .filter__sign::after {
  background-color: var(--grey);
}

.filter__radio:disabled + .filter__sign::before,
.filter__radio:disabled + .filter__sign {
  opacity: 0.5;
  cursor: none;
}

.filter__fields {
  margin: 16px 0 0 0;
  padding: 0 0 27px 0;
  border: none;
}

.filter__fields--brands {
  -webkit-box-shadow: 0px 2px 0px 0px var(--basic-beige);
          box-shadow: 0px 2px 0px 0px var(--basic-beige);
}

.filter__fields--power {
  padding: 0 0 37px 0;
}

.filter__btn {
  padding: 10px 79px 10px 79px;
  margin: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--border-card);
  outline: none;
}

.filter__btn:hover, .filter__btn:focus {
  -webkit-box-shadow: 0px 2px 10px var(--black-opacity);
          box-shadow: 0px 2px 10px var(--black-opacity);
}

.filter__btn:active {
  color: var(--sort-opacity);
  border-color: var(--greylight);
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 36px 0 34px;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-dark);
}

.footer-contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-contacts__copyright {
  margin: 0 161px 0 0;
}

.footer-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contacts__item {
  padding-right: 4px;
}

.footer-contacts__item:last-child {
  padding-right: 0;
}

.footer-contacts__link {
  color: var(--special-yellowlight);
}

.footer-contacts__link--vk {
  background-image: url("../img/icon/vkontakte.svg");
}

.footer-contacts__link--facebook {
  background-image: url("../img/icon/facebook.svg");
}

.footer-contacts__link--insta {
  background-image: url("../img/icon/instagram.svg");
}

.footer-contacts__link:hover {
  border-bottom: 1px solid var(--special-yellowlight);
}

.footer-contacts__link:active {
  color: var(--basic-red);
  border: none;
}

.footer-contacts__link:focus {
  outline: 1px dotted var(--special-yellowlight);
}

.footer-contacts__link--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--dark);
  border-radius: 50%;
}

.footer-contacts__link--socials:hover, .footer-contacts__link--socials:active {
  background-color: var(--basic-red);
  border: none;
}

.footer-contacts__link--socials:focus {
  outline: 1px dotted var(--basic-red);
}

.footer-contacts__text {
  margin: 0;
}

.footer-contacts__text--feedback {
  margin-right: 51px;
  margin-left: 118px;
}

.header-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 42px;
  padding-bottom: 44px;
}

.header-info__text {
  margin: 0 93px 0 30px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-info__contact {
  margin-top: 10px;
  margin-right: 70px;
  text-align: center;
}

.header-info__contact--catalog {
  margin-right: 51px;
}

.header-info__tel {
  position: relative;
  padding: 4px 42px 5px 71px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--white);
}

.header-info__tel::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 37px;
  width: 20px;
  height: 19px;
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-info__tel:focus {
  outline: none;
  border: 3px solid var(--basic-red);
}

.header-info__address {
  margin: 9px 0 0;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: var(--basic-darkblue);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 56px 12px;
  background-color: var(--basic-red);
  -webkit-box-shadow: 0 5px 0 var(--black-opacity24), 0 5px 0 var(--basic-red);
          box-shadow: 0 5px 0 var(--black-opacity24), 0 5px 0 var(--basic-red);
}

.logo--footer {
  max-height: 63px;
  padding: 20px 41px 20px 41px;
  margin-right: 174px;
  margin-bottom: 27px;
}

.logo:active, .logo:focus {
  outline: none;
  background-color: var(--error);
  -webkit-box-shadow: 0 5px 0 var(--black-opacity24), 0 5px 0 var(--error);
          box-shadow: 0 5px 0 var(--black-opacity24), 0 5px 0 var(--error);
}

.logo__img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu {
  background-color: var(--basic-dark);
}

.menu__link:active + .menu__search {
  opacity: 0.5;
}

.modal-window {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  width: 620px;
  z-index: 1;
  background-color: var(--white);
  border-top: 7px solid var(--basic-red);
  -webkit-box-shadow: 0px 4px 20px var(--black-opacity);
          box-shadow: 0px 4px 20px var(--black-opacity);
}

.modal-window--map {
  width: 943px;
}

.modal-window--show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-window--error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-window__text {
  position: relative;
  margin: 71px 173px 67px 174px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.modal-window__text::before {
  content: " ";
  position: absolute;
  top: -25px;
  left: -93px;
  width: 66px;
  height: 66px;
  background-image: url("../../img/icon/success.svg");
}

.modal-window__img {
  display: block;
  max-width: 943px;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-window__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/icon/modal-close.svg");
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-window__close:hover {
  opacity: 0.5;
}

.modal-window__close:active, .modal-window__close:focus {
  opacity: 0.15;
}

.modal-window__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 37px 80px;
  background-color: var(--special-beige);
}

.modal-window__wrap--cart {
  padding: 36px 113px;
}

.modal-window__btn {
  padding: 10px 199px;
  outline: none;
}

.modal-window__btn--order {
  padding: 10px 46px;
  margin-right: 10px;
}

.modal-window__btn--continue {
  padding: 10px 32px;
  color: var(--black);
  background-color: var(--white);
}

.modal-window__btn--continue:hover {
  color: var(--basic-grey);
  background-color: var(--white);
}

.modal-window__btn--continue:active {
  opacity: 0.5;
}

/* @keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
} */
.nav {
  max-width: 940px;
  background-color: var(--basic-darkblue);
  -webkit-box-shadow: inset 0px -5px 0px var(--basic-dark);
          box-shadow: inset 0px -5px 0px var(--basic-dark);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: var(--white);
}

.nav__link:focus {
  outline: none;
  opacity: 0.5;
}

.nav__item {
  padding: 16px 28px 20px;
}

.nav__item:first-child {
  padding-left: 53px;
}

.nav__item:last-child {
  padding-right: 53px;
}

.nav__item:hover {
  background-color: var(--basic-dark);
}

.nav__item:active {
  opacity: 0.5;
  background-color: var(--darkgrey);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-top: 5px;
  padding-left: 0;
}

.nav-list--white {
  margin: 37px 0 0;
}

.nav-list--yellow {
  margin: 0;
}

.nav-list__item {
  padding-right: 58px;
}

.nav-list__item:last-child {
  padding-right: 0;
}

.nav-list__item--yel {
  padding-right: 60px;
}

.nav-list__link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.nav-list__link:hover {
  border-bottom: 1px solid var(--white);
}

.nav-list__link:active, .nav-list__link:focus {
  outline: none;
  opacity: 0.5;
  border: none;
}

.nav-list__link--yellow {
  color: var(--special-yellowlight);
}

.nav-list__link--yellow:hover {
  border-bottom: 1px solid var(--special-yellowlight);
}

.nav-list__link--yellow:active {
  border: none;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr min-content;
      grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
      grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Verdana, sans-serif;
}

.page-content__header {
  margin: 0 0 20px;
  background-color: var(--basic-lightpink);
}

.page-content__title {
  margin: 0;
  padding: 29px 29px 30px 29px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.page-content__title--article {
  padding: 0;
  margin-right: 582px;
  margin-bottom: 25px;
  color: var(--black);
}

.page-content__container {
  padding-top: 64px;
  padding-bottom: 68px;
}

.page-content__article {
  background-color: var(--basic-background);
}

.page-content__text {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.page-footer {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--basic-darkblue);
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-footer__wrap {
  margin-right: 91px;
  margin-bottom: 54px;
  margin-left: 4px;
}

.page-footer__address,
.page-footer__tel {
  font-style: normal;
  color: var(--basic-background);
}

.page-header {
  padding-bottom: 60px;
  background-color: var(--basic-lightpink);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__submenu {
  padding-left: 0;
  padding-right: 0;
}

.page {
  height: 100%;
}

.pagination__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  color: var(--black);
  border: 1px solid var(--border-pink);
  border-radius: 2px;
}

.pagination__link--current {
  color: var(--white);
  background-color: var(--basic-red);
  border-color: var(--basic-red);
}

.pagination__link:hover:not(.pagination__link--current) {
  border: 1px solid var(--greylight);
}

.pagination__link:active:not(.pagination__link--current), .pagination__link:focus:not(.pagination__link--current) {
  outline: none;
  border: 1px solid var(--basic-red);
}

.popular-goods {
  padding-bottom: 70px;
}

.popular-goods__header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 14px 26px 28px;
  margin-bottom: 20px;
  background-color: var(--basic-lightbeige);
}

.popular-goods__title {
  margin: 0 442px 0 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.popular-goods__btn {
  padding: 11px 24px 9px 24px;
}

.popular-goods__main {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.range {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0 0 25px 0;
  border: none;
  -webkit-box-shadow: 0px 2px 0px 0px var(--basic-beige);
          box-shadow: 0px 2px 0px 0px var(--basic-beige);
}

.range__results {
  width: 220px;
}

.range__title {
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range__controls {
  position: relative;
  padding: 39px 20px;
  margin-bottom: 9px;
  background-color: var(--basic-beige);
  border-radius: 5px;
}

.range__controls .range__scale {
  height: 2px;
  background: var(--range);
}

.range__controls .range__bar {
  width: 70%;
  height: 2px;
  background: var(--range-green);
}

.range__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--special-grey);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--shadow);
          box-shadow: 0 2px 1px 0 var(--shadow);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
}

.range__toggle--min {
  left: 18px;
}

.range__toggle--max {
  left: 140px;
}

.range__item {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--basic-beige);
  -moz-appearance: textfield;
}

.range__item--min {
  margin-right: 10px;
}

.range__item--max {
  margin-left: 10px;
}

.range__item::-webkit-outer-spin-button, .range__item::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range__item:hover, .range__item:focus {
  outline: 1px dotted var(--range-green);
}

.range__price-controls {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 18px;
}

.search {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 271px;
}

.search:hover .search__svg {
  fill-opacity: 1;
}

.search__btn {
  position: absolute;
  width: 42px;
  height: 42px;
  padding: 12px 9px 13px 17px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.search__field {
  width: 247px;
  height: 100%;
  padding: 0 0 0 42px;
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--white);
}

.search__field:focus {
  color: var(--black);
  background-color: var(--white);
}

.search__field::-webkit-input-placeholder {
  font-size: 18px;
  color: var(--white);
}

.search__field:-ms-input-placeholder {
  font-size: 18px;
  color: var(--white);
}

.search__field::-ms-input-placeholder {
  font-size: 18px;
  color: var(--white);
}

.search__field::placeholder {
  font-size: 18px;
  color: var(--white);
}

.search__svg {
  fill-opacity: 0.5;
}

.search__field:focus + .search__btn path,
.search__btn:focus path {
  fill: var(--basic-red);
  fill-opacity: 1;
}

.service-menu {
  position: relative;
  width: 240px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--basic-darkblue);
}

.service-menu::after {
  content: " ";
  position: absolute;
  top: -45px;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url("../img/icon/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-menu__item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 22px 17px 22px;
  color: var(--white);
}

.service-menu__link:hover {
  background-color: var(--basic-dark);
}

.service-menu__link:active, .service-menu__link:focus {
  outline: none;
  color: var(--basic-darkblue);
  background-color: var(--white);
}

.service-menu__item--delivery {
  border-bottom: solid 1px var(--basic-dark);
}

.service-menu__item--guarantee {
  border-top: solid 1px var(--special-dark);
  border-bottom: solid 1px var(--basic-dark);
}

.service-menu__item--credit {
  border-top: solid 1px var(--special-dark);
}

.service {
  padding-bottom: 4px;
  background-color: var(--basic-background);
}

.service__wrapper {
  padding-top: 64px;
}

.service__title {
  margin: 0 0 25px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--black);
}

.service__title--desc {
  margin-bottom: 30px;
  color: var(--basic-darkblue);
}

.service__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.service__text--slogan {
  margin: 0 537px 70px 0;
}

.service__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service__list {
  list-style: none;
  padding: 0;
  margin: 0 80px 0 0;
}

.service__wrap {
  min-width: 619px;
}

.service__desc {
  display: none;
  min-height: 283px;
  background-position: right 20px;
  background-repeat: no-repeat;
}

.service__desc--active {
  display: block;
}

.service__desc--delivery {
  background-image: url("../img/service/delivery.png ");
}

.service__desc--guarantee {
  background-image: url("../img/service/guarantee.png");
}

.service__desc--credit {
  background-image: url("../img/service/credit.png");
}

.slider {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: slider;
}

.slider__container {
  display: none;
  -ms-grid-rows: 104px 1fr 104px;
      grid-template-rows: 104px 1fr 104px;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  background-color: var(--basic-greylight);
}

.slider__container--active {
  display: -ms-grid;
  display: grid;
}

.slider__description {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 1/1/2/9;
  z-index: 1;
  padding: 23px 24px 16px 24px;
  margin: 0;
  color: var(--white);
}

.slider__desc {
  margin-bottom: 17px;
  line-height: 24px;
}

.slider__desc--large {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
}

.slider__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 1/1/4/9;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider__button {
  position: absolute;
  min-height: 40px;
  width: 22px;
  background-color: Transparent;
  background-image: url("../img/icon/slider-button.png");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.slider__button--prev {
  left: 23px;
  top: 120px;
  z-index: 1;
  background-position: 47% bottom;
}

.slider__button--next {
  right: 23px;
  bottom: 105px;
  z-index: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-position: 35% 0;
}

.slider__button:hover {
  opacity: 0.5;
}

.slider__button:focus {
  outline: none;
  opacity: 0.3;
}

.slider__link {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3/1/4/4;
  z-index: 1;
  padding: 11px 46px 9px 46px;
  margin: 39px 15px 27px 24px;
}

.slider__list-dot {
  position: absolute;
  top: 60%;
  left: 309px;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 58px 0 0 0;
}

.slider__dot {
  padding: 0;
  margin: 0 10px 0 0;
  width: 10px;
  height: 10px;
  background: var(--white);
  border-radius: 50%;
}

.slider__dot--current {
  background: var(--basic-red);
  border: 2px solid var(--white);
  border-radius: 50%;
}

.slider__dot:first-child {
  margin-left: -13px;
}

.slider__dot:focus {
  width: 12px;
  height: 12px;
  outline: none;
}

.sort {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 17px 10px 19px;
  background-color: var(--basic-beige);
  border-radius: 5px;
}

.sort__note,
.sort__link {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}

.sort__note {
  margin-right: 140px;
}

.sort__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0 46px 0 0;
}

.sort__item {
  margin-right: 70px;
  line-height: 18px;
}

.sort__item:nth-child(2) {
  margin-right: 65px;
}

.sort__item:last-child {
  margin-right: 0;
}

.sort__link {
  border-bottom: 1px dotted var(--basic-red);
  color: var(--sort-opacity);
}

.sort__link--active {
  border: none;
  color: var(--basic-red);
}

.sort__link:hover {
  border-bottom: 1px solid var(--basic-red);
  color: var(--black);
}

.sort__link:focus {
  outline: none;
  border: none;
  color: var(--basic-red);
}

.sort__list-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort__item-arrow {
  padding: 0;
  margin: 0;
}

.sort__link-arrow {
  display: block;
  width: 0;
  height: 0;
}

.sort__link-arrow--up {
  margin-right: 21px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--greylight);
}

.sort__link-arrow--down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--greylight);
}

.sort__link-arrow--current {
  border-top-color: var(--basic-red);
  border-bottom-color: var(--basic-red);
}

.sort__link-arrow:hover {
  border-top-color: var(--basic-greylight);
  border-bottom-color: var(--basic-greylight);
}

.sort__link-arrow:active, .sort__link-arrow:focus {
  outline: none;
  border-top-color: var(--error);
  border-bottom-color: var(--error);
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
}

.user-menu__link {
  font-size: 21px;
  line-height: 21px;
  color: currentColor;
  background-color: var(--white);
  cursor: pointer;
}

.user-menu__link--login {
  padding: 12px 27px 12px 19px;
}

.user-menu__link--registration {
  padding: 12px 24px 12px 24px;
  margin-left: 10px;
}

.user-menu__link:hover {
  color: var(--basic-red);
}

.user-menu__link:active, .user-menu__link:focus {
  outline: none;
  color: var(--greylight);
}

.user-menu__link:hover path {
  fill: var(--basic-grey);
}

.user-menu__link:active path {
  fill: var(--greylight);
}

.user {
  text-align: center;
}

.user__inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 15px;
  margin-bottom: 7px;
  background-color: var(--white);
}

.user__text {
  margin: 0 0px 0 21px;
  font-size: 21px;
  line-height: 21px;
}

.user__link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkblue);
}

.user__link--login {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 21px;
  color: var(--black);
}

.user__link--order {
  position: relative;
  padding-right: 32px;
}

.user__link--order::after {
  content: " ";
  position: absolute;
  top: 8px;
  left: 90px;
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--basic-darkblue);
  border-radius: 50%;
  background-repeat: no-repeat;
}

.user__link:active, .user__link:focus {
  outline: none;
  color: var(--greylight);
}

.user__link--order:hover,
.user__link--account:hover {
  color: var(--basic-red);
}

.user__link--order:active,
.user__link--account:active {
  color: var(--greylight);
}

.user__link:hover .user__svg path,
.user__link--exit:focus .user__svg--exit path {
  fill: var(--basic-grey);
}

.user__link:active .user__svg path {
  fill: var(--greylight);
}
/*# sourceMappingURL=style.css.map */