.contacts {
  margin-bottom: 10px; //убрать потом
}
.contacts__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.contacts__text {
  font: 13px/24px "PT Sans", Tahoma, sans-serif;
}


.contacts__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 38px;


  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}
