.popular-goods__header {
  display: block;
  width: 940px;
  height: 89px;

  background-color: var(--basic-lightbeige);
}

.popular-goods__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}






