.service {
  background-color: var(--basic-backgraund);
}

.service__title,
.delivery__title,
.guarantee__title,
.credit__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.service__text,
.delivery__text,
.guarantee__text,
.credit__text {
  font: 13px/24px "PT Sans", Tahoma, sans-serif;
}

