:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #a9a9a9; //старая цена в карточка товара
  --basic-backgraund: #f1f5f7;
  --basic-lightbeige: #f9f5f0; //популярные товары, популярные производители
  --basic-beige: #f7f3ec; //фильтр, сортировка
  --basic-ligtpink: #f2f6f8; //каталог, фон заголовка
  --basic-darkblue: #32425c; //навигация в хедере, футер
  --basic-dark: #293449; //хедер, футер, текст кое-где
  --white: #ffffff;
  --black: #000000;

  --special-yellow: #ffbf47; //текст в футере
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --success: #5fbb2d;
  --error: #ba2732; //+тень логотипа
  --border-card: #eaeaea;
}
