:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #a9a9a9;
  --basic-background: #f1f5f7;
  --basic-lightbeige: #f9f5f0;
  --basic-beige: #f7f3ec;
  --basic-lightpink: #f2f6f8;
  --basic-darkblue: #32425c;
  --basic-dark: #293449;
  --white: #ffffff;
  --white-opacity03: rgba(255, 255, 255, 0.3);
  --white-opacity05: rgba(255, 255, 255, 0.5);
  --black: #000000;
  --black-opacity:rgba(0, 0, 0, 0.15);
  --sort-opacity:rgba(0, 0, 0, 0.3);

  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --speacial-green: #367315;
  --special-yellowlight: #ffd180;
  --special-dark: #405069;
  --special-beige: #f4f4f4;
  --special-lightpink: #f3f7f9;
  --special-pink: #f1f1f1;
  --special-grey: #ababab;
  --dark: #212A3A;
  --darkblue: #161D29;
  --success: #5fbb2d;
  --error: #ba2732;
  --border-card: #eaeaea;
  --border-pink: #e5e5e5;
  --range: #d7dcde;
  --range-green: #00ca74;
  --shadow: #cfcfcf;
  --radio-beige: #c5c5c5;

}
