.brands {
  padding-bottom: 118px;
}

.brands__header {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 19px 26px 28px;
  margin-bottom: 20px;

  background-color: var(--basic-lightbeige);
}

.brands__title {
  margin: 0 334px 0 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.brands__btn {
  padding: 11px 38px 9px 39px;
}

.brands__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

 .brands__link {
   display: flex;

   &:hover {
     box-shadow: 0px 4px 20px var(--black-opacity);
   }

   &:active {
     opacity: 0.5;
   }
}
