.breadcrumbs {
  padding: 21px 20px 20px 0;
}

.breadcrumbs__list {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 41px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    right: -25px;
    width: 9px;
    height: 11px;
    background-image: url("../img/icon/breadcrumbs-arrow.svg");
    background-repeat: no-repeat;
  }

  &--current::after {
    display: none;
  }
}

.breadcrumbs__link {
  color: var(--black);
}
