.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  border-radius: 0;
  background-color: var(--basic-red);

  cursor: pointer;
}
