.card {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);

  &--materials {
    grid-area: materials;

    background-color: var(--special-yellow);
  }

  &--tools {
    grid-area: tools;

    background-color: var(--special-blue);
  }

  &--machinery {
    grid-area: machinery;

    background-color: var(--special-lilac);
  }

  &--sale {
    grid-area: sale;

    background-color: var(--special-greenlight);
  }

  &--delivery {
    grid-area: delivery;
    background-color: var(--special-yellow);
  }
}

.card__title {
  margin: 0;
}

.card__link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);

  background: var(--white-opacity);
}
