.card-good {
  position: relative;

  display: grid;
  grid-template-areas:
    "img img img"
    "title title title"
    ". old ."
    "new new new";
  grid-template-rows:
    172px 1fr auto auto;
  width: 220px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;

  border: 1px solid var(--border-card);

  overflow: hidden;

  &:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  }
}

.card-good:hover .card-good__img {
  display: none;
}

.card-good:hover .card-good__wrapper {
  display: block;
}

.card-good__new {
  position: absolute;
  top: 10px;
  left: 145px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Verdana, sans-serif;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
  background-position: 0 0;
  transform: rotate(45deg);
}

.card-good__wrapper {
  grid-area: img;

  padding-top: 38px;
}

.card-good__wrapper--hidden {
  display: none;
}

.card-good__title {
  grid-area: title;
  padding-bottom: 6px;
  margin: 0;
}

.card-good__img {
  grid-area: img;
  align-self: center;
  justify-self: center;
}

.card-good__price {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.card-good__price--old {
  grid-area: old;
  padding-bottom: 13px;

  text-decoration-line: line-through;
  color: var(--basic-greylight);
}

.card-good__price--new {
  grid-area: new;

  position: relative;

  padding: 10px 25px 10px 32px;
  margin: 0 51px 21px 45px;

  color: var(--white);

  background-color: var(--basic-red);
  background-size: 50% 50%;
  background-repeat: no-repeat;

  border-radius: 5px 0 0 5px;

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 122px;
    width: 19px;
    height: 38px;
    border-top: 19px solid transparent;
    border-left: 19px solid var(--basic-red);
    border-bottom: 19px solid transparent;
  }
}

.card-good__button {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Verdana, sans-serif;
  text-transform: uppercase;

  border: none;
  border-radius: 2px;

  cursor: pointer;

  &--buy {
    position: relative;
    padding: 10px 41px 10px 52px;
    margin-bottom: 10px;

    color: var(--white);
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--special-green);
    border-radius: 2px;

    &:hover {
      background-color: var(--success);
    }

    &:active {
      background-color: var(--special-darkgreen);
    }

    &::before {
      content: " ";
      position: absolute;
      top: 10px;
      left: 30px;
      width: 14px;
      height: 16px;

      background-image: url("../img/icon/cart.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.5;
    }
  }

  &--bookmark {
    padding: 8px 30px 7px 31px;

    color: var(--basic-darkblue);
    background-color: transparent;
    border: 3px solid var(--basic-green);

    &:hover {
      border: 3px solid var(--basic-darkblue);
    }

    &:active {
      opacity: 0.5;
    }
  }
}
