.card {
  padding-top: 20px;
  padding-right: 143px;
  padding-bottom: 21px;
  padding-left: 22px;
  background-repeat: no-repeat;

  &--materials {
    grid-area: materials;

    background-color: var(--special-yellow);
    background-image: url("../img/icon/materials.svg");
    background-position: 83% 56%;
  }

  &--tools {
    grid-area: tools;

    background-color: var(--special-blue);
    background-image: url("../img/icon/tools.svg");
    background-position: 88% 56%;
  }

  &--machinery {
    grid-area: machinery;

    background-color: var(--special-lilac);
    background-image: url("../img/icon/machinery.svg");
    background-position: 83% 56%;
  }

  &--sale {
    grid-area: sale;

    background-color: var(--special-greenlight);
    background-image: url("../img/icon/sale.svg");
    background-position: 83% 56%;
  }

  &--delivery {
    grid-area: delivery;
    background-color: var(--special-yellow);
    background-image: url("../img/icon/delivery.svg");
    background-position: 83% 56%;
  }
}

.card__title {
  margin: 0 0 14px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.card__link {
  display: flex;
  align-self: center;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);

  background: var(--white-opacity);
}
