.card-good {
  display: grid;
  grid-template-areas:
      "img img img"
      "title title title"
      ". old ."
      "new new new";
  grid-template-rows: 172px 1fr auto auto;
  width: 220px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;

  border: 1px solid var(--border-card);
}

.card-good__title {
  grid-area: title;
  padding-bottom: 6px;
  margin: 0;
}

.card-good__img {
  grid-area: img;
  align-self: center;
  justify-self: center;
}

.card-good__prace {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.card-good__prace--old {
  grid-area: old;
  padding-bottom: 13px;

  text-decoration-line: line-through;
  color: var(--basic-greylight);
}

.card-good__prace--new {
  grid-area: new;

  padding: 10px 40px 10px 32px;
  margin: 0 34px 21px 45px;

  color: var(--white);

  background-color: var(--basic-red);
  //background: linear-gradient(-45deg, transparent 15px, var(--basic-red) 0) bottom left,
              //linear-gradient(-135deg, transparent 15px, var(--basic-red) 0) top left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.card-good__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border: none;

  &--buy {
    padding: 11px 34px 9px 33px;

    color: var(--white);
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--speacial-green);
    border-radius: 2px;
  }

  &--bookmark {
    padding: 11px 34px 9px 33px;

    color: var(--basic-darkblue);
    background-color: transparent;
    border: 3px solid var(--basic-green);
    border-radius: 2px;
  }
}
