.card {
  position: relative;

  padding-top: 20px;
  padding-right: 143px;
  padding-bottom: 21px;
  padding-left: 22px;
  background-repeat: no-repeat;
  overflow: hidden;
  &--materials {
    grid-area: materials;

    background-color: var(--special-yellow);
    background-image: url("../img/icon/materials.svg");
    background-position: 83% 56%;
  }

  &--tools {
    grid-area: tools;

    background-color: var(--special-blue);
    background-image: url("../img/icon/tools.svg");
    background-position: 88% 56%;
  }

  &--machinery {
    grid-area: machinery;

    background-color: var(--special-lilac);
    background-image: url("../img/icon/machinery.svg");
    background-position: 83% 56%;
  }

  &--sale {
    grid-area: sale;

    background-color: var(--special-greenlight);
    background-image: url("../img/icon/sale.svg");
    background-position: 83% 56%;
  }

  &--delivery {
    grid-area: delivery;
    background-color: var(--special-yellow);
    background-image: url("../img/icon/delivery.svg");
    background-position: 83% 56%;
  }
}

.card__title {
  margin: 0 0 14px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.card__link {
  display: flex;
  align-self: center;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);

  background: var(--white-opacity03);

  &:hover {
    background: var(--greylight03);
  }

  &:active {
    background: var(--basic-greylight03);
  }
}

.card__new {
  position: absolute;
  top: 10px;
  left: 225px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Verdana, sans-serif;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
  background-position: 0 0;
  transform: rotate(45deg);
}
