.checkout {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.checkout__link {
  position: relative;
  padding: 10px 38px 9px 43px;

  color: var(--white);

  &--cart {
    padding-left: 35px;
    padding-right: 26px;
  }

  &--cart-add {
    padding-right: 21px;
    background-color: var(--basic-red);
  }

  &--order {
    padding-left: 19px;
    padding-right: 16px;

    background-color: var(--basic-green);
  }

  &:active,
  &:focus {
    outline: none;
    color: var(--white-opacity05);
  }

  &--order:hover {
    background-color: var(--success);
  }

  &--bookmark:active,
  &--cart:active,
  &--bookmark:focus,
  &--cart:focus {
    outline: none;
    background-color: var(--darkblue);
  }

  &::before {
    content: " ";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 14px;
    height: 16px;

    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
  }

  &--bookmark::before {
    background-image: url("../img/icon/bookmark.svg");
  }

  &--cart::before {
    left: 13px;
    background-image: url("../img/icon/cart.svg");
  }

  &:hover::before {
    opacity: 1;
  }

  &:active::before {
    opacity: 0.5;
  }
}

.checkout__item {
  display: inline-flex;
  align-items: center;
}
