.company {
  padding-right: 150px;
  max-width: 640px;
}
.company__title {
  margin-top: 0;
  margin-bottom:24px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.company__text {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;

  &--promo {
    margin-bottom: 20px;
  }
}

.company__list {
  padding: 0;
  margin: 0 0 25px 40px;
  list-style: none;
}

.company__item {
  position: relative;

  padding-top: 0;
  padding-bottom: 12px;

  &:last-child {
    padding-bottom: 0;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 10px;
    left: -40px;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
    background-position: 0 0;
  }
}

.company__link {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  min-width: 220px;

  padding: 11px 40px 11px 40px;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}
