.contacts__title {
  margin-top: 0;
  margin-bottom: 24px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.contacts__btn {
  padding: 11px 61px 9px 61px;
  margin-top: 25px;
}

.contacts__map-link {
  display: flex;

  &:focus {
    outline: 1px dotted var(--black);
  }
}

.contacts__map {
  max-width: 100%;
  object-fit: contain;
}
