.contacts {
  margin-bottom: 10px;
}
.contacts__title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.contacts__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.contacts__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}
