.directory {
  padding-top: 59px;
  padding-bottom: 59px;
}

.directory__container {
  display: grid;
  grid-template-areas:
    "materials tools machinery"
    "slider slider sale"
    "slider slider delivery";
  gap: 20px;
  grid-auto-columns: 1fr;
}
