.feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 41px 80px 0 80px;
}

.feedback__wrapper {
  margin-top: 0;
  margin-bottom: 13px;
  width: 220px;

  font-size: 18px;
  line-height: 24px;
  color: var(--black);

  &--user {
    margin-right: 20px;
  }

  &--text {
    margin-bottom: 37px;
    width: 460px;
  }
}

.feedback__item {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  padding: 7px 8px 7px 12px;
  margin-top: 11px;
  width: 220px;

  border: 2px solid var(--greylight);
  border-radius: 2px;

  &--text {
    padding-bottom: 7px;
    margin-bottom: 0;
    width: 460px;
    height: 114px;

    resize: none;
  }
  &:focus {
    outline: 1px dotted var(--greylight);
  }

  &::placeholder {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", Tahoma, sans-serif;
    color: var(--basic-greylight);
  }
}
