.filter {
  padding-right: 21px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}
.filter__header {
  background-color: var(--basic-beige);
  border-radius: 5px;
}

.filter__title {
  padding: 10px 151px 10px 18px;
  margin: 0 0 14px;

  font-size: 13px;
  font-weight: normal;
}

.filter__subtitle {
  padding-bottom: 17px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;

  &--power {
    padding-bottom: 23px;
  }
}

.filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__item {
  padding-bottom: 20px;

  font-size: 15px;
  line-height: 19px;

  &:last-child {
    padding-bottom: 0;
  }

  &--power {
    padding-bottom: 22px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.filter__fields {
  margin: 16px 0 0 0;
  padding: 0 0 27px 0;
  border: none;

  &--brands {
    box-shadow: 0px 2px 0px 0px var(--basic-beige);
  }

  &--power {

    padding: 0 0 37px 0;
  }
}

.filter__btn {
  padding: 10px 79px 10px 79px;
  margin: 0;

  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--border-card);
}

