.filter {
  width: 220px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}
.filter__header {
  background-color: var(--basic-beige);
  border-radius: 5px;
}

.filter__title {
  padding: 10px 151px 10px 18px;
  margin: 0 0 14px;

  font-size: 13px;
  font-weight: normal;
}

.filter__subtitle {
  padding-bottom: 17px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;

  &--power {
    padding-bottom: 23px;
  }
}

.filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__item {
  padding-left: 35px;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 19px;

  &:last-child {
    margin-bottom: 0;
  }

  &--power {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.filter__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter__checkbox + label::before {
  content: " ";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon/filter-checkbox-off.svg");
}

.filter__checkbox:checked + label::before{
  display: none;
}

.filter__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 23px;
  background-image: url("../img/icon/filter-checkbox-on.svg");
}

.filter__radio + label::before {
  content: " ";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 26px;
  height: 26px;
  border: 4px solid var(--radio-beige);
  border-radius: 50%;
}

.filter__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -26px;
  width: 8px;
  height: 8px;
  background-color: var(--radio-beige);
  border-radius: 50%;
}

.filter__fields {
  margin: 16px 0 0 0;
  padding: 0 0 27px 0;
  border: none;

  &--brands {
    box-shadow: 0px 2px 0px 0px var(--basic-beige);
  }

  &--power {

    padding: 0 0 37px 0;
  }
}

.filter__btn {
  padding: 10px 79px 10px 79px;
  margin: 0;

  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--border-card);
}

