.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  padding: 36px 0 34px;

  font-size: 16px;
  line-height: 18px;

  background-color: var(--basic-dark);
}

.footer-contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts__copyright {
  margin: 0 161px 0 0;
}

.footer-contacts__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contacts__item {
  max-width: 42px;
  max-height: 42px;
  margin-right: 2px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-contacts__link {
  color: var(--special-yellowlight);

  &--vk {
    background-image: url("../img/icon/vkontakte.svg");
  }

  &--facebook {
    background-image: url("../img/icon/facebook.svg");
  }

  &--insta {
    background-image: url("../img/icon/instagram.svg");
  }

  &:hover {
    border-bottom: 1px solid var(--special-yellowlight);
  }

  &:active {
    color: var(--basic-red);
    border: none;
  }

  &:focus {
    outline: 1px dotted var(--special-yellowlight);
  }

  &--socials {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;

    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--dark);
    border-radius: 50%;



    &:hover,
    &:active {
      background-color: var(--basic-red);
      border: none;
    }

    &:focus {
      outline: 1px dotted var(--basic-red);
    }
  }
}

.footer-contacts__text {
  margin: 0;

  &--feedback {
    margin-right: 51px;
    margin-left: 118px;
  }
}
