.footer-nav {
  margin: 0;
}

.footer-nav__link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-backgraund);
  &--yellow {
    color: var(--special-yellowlight);
  }
}

.footer__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
