.header-info__container {
  display: flex;
  align-items: start;

  padding-top: 42px;
  padding-bottom: 38px;
}

.header-info__text {
  max-width: 197px;
  margin: 0 93px 0 30px;

  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-red);
}

.header-info__contact {
  margin-top: 10px;
  margin-right: 70px;
  text-align: center;

  &--catalog {
    margin-right: 51px;
  }
}

.header-info__tel {
  position: relative;
  padding: 8px 42px 8px 71px;
  align-items: center;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);

  border: 3px solid var(--white);

  &::before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 37px;
    width: 20px;
    height: 19px;

    background-image: url("../img/icon/phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:focus {
    outline: none;
    border: 3px solid var(--basic-red);
  }
}

.header-info__address {
  margin: 11px 0 0;

  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: var(--basic-darkblue);
}
