.logo {
  display: flex;
  align-items: center;

  padding: 12px 56px 12px;

  background-color: var(--basic-red);
  box-shadow: 0 5px 0 var(--black-opacity24),
              0 5px 0 var(--basic-red);

  &--footer {
    max-height: 63px;
    padding: 20px 41px 20px 41px;
    margin-right: 174px;
    margin-bottom: 27px;
  }

  &:active,
  &:focus {
    outline: none;
    background-color: var(--error);
    box-shadow: 0 5px 0 var(--black-opacity24),
      0 5px 0 var(--error);
  }
}

.logo__img {
  max-width: 100%;
  object-fit: contain;
}
