.modal-window {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: none;
  width: 620px;
  z-index: 1;


  background-color: var(--white);
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px var(--black-opacity);

  &--map {
    width: 943px;
  }

  &--show {
    display: block;
    animation: bounce 0.6s;
  }

  &--error {
    animation: shake 0.6s;
  }
}

.modal-window__text {
  position: relative;

  margin: 71px 173px 67px 174px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  &::before {
    content: " ";
    position: absolute;
    top: -25px;
    left: -93px;
    width: 66px;
    height: 66px;

    background-image: url("../../img/icon/success.svg");
  }
}

.modal-window__img {
  display: block;
  max-width: 949px;
  object-fit: contain;
}

.modal-window__close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/icon/modal-close.svg");

  border: none;
  outline: none;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active,
  &:focus {
    opacity: 0.15;
  }
}

.modal-window__wrap {
display: inline-flex;
padding: 37px 80px;

 background-color: var(--special-beige);

  padding: 36px 113px;
  }


.modal-window__btn {
  padding: 10px 199px;

  outline: none;

  &--order {
    padding: 10px 46px;
    margin-right: 10px;
  }

  &--continue {
    padding: 10px 32px;

    color: var(--black);
    background-color: var(--white);

    &:hover {
      color: var(--basic-grey);
      background-color: var(--white);
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  70% {
    transform: translate(-50%, 30px);
  }

  90% {
    transform: translate(-50%, -10px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(calc(-50% - 10px), -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(calc(-50% + 10px), -50%);
  }
}
