.modal-cart {
  display: none;
}

.modal-cart__text {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.modal-cart__wrap {
  background-color: var(--special-pink);
}

.modal-cart__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  &--order {
    color: var(--white);
    background-color: var(--basic-red);
  }

  &--continue {
    color: var(--black);
    background-color: var(--white);
  }
}
