.modal-window--feedback {
  border-top: 5px solid var(--basic-red);
  box-shadow: 0px 4px 20px var(--black-opacity);
}

.feedback__wrapper {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.feedback__wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--special-beige);
}

.feedback__entry {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
  border: none;
}
