.modal-window {
  position: fixed;
  top: 120px;
  right: 0;
  bottom: auto;
  left: 0;

  display: block;
  margin: auto;
  width: 620px;
  z-index: 1;


  background-color: var(--white);
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px var(--black-opacity);

  &--map {
    width: 943px;
  }

  &--hidden {
    display: none;
  }
}

.modal-window__text {
  position: relative;

  margin: 71px 173px 67px 174px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  &::before {
    content: " ";
    position: absolute;
    top: -25px;
    left: -93px;
    width: 66px;
    height: 66px;

    background-image: url("../../img/icon/success.svg");
  }
}

.modal-window__img {
  display: block;
  max-width: 943px;
  object-fit: contain;
}

.modal-window__close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/icon/modal-close.svg");

  outline: none;
  border: none;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.15;
  }
}

.modal-window__wrap {
  display: flex;
  padding: 37px 80px;

  background-color: var(--special-beige);

  &--cart {
    padding: 36px 113px;
  }
}

.modal-window__btn {
  padding: 10px 199px;

  outline: none;

  &--order {
    padding: 10px 46px;
    margin-right: 10px;
  }

  &--continue {
    padding: 10px 32px;

    color: var(--black);
    background-color: var(--white);

    &:hover {
      color: var(--basic-grey);
      background-color: var(--white);
    }

    &:active {
      opacity: 0.5;
    }
  }
}
