.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 546px;
  padding-top: 5px;
  padding-left: 0;

  list-style: none;

  &--white {
    margin: 34px 0 0;
  }

  &--yellow {
    margin: 0;
  }
}

.nav-list__item {
  padding-right: 58px;

  &:last-child {
    padding-right: 0;
  }

  &--yel {
    padding-right: 60px;
  }
}

.nav-list__link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);

  &:hover {
    border-bottom: 1px solid var(--white);
  }

  &:active,
  &:focus {
    outline: none;
    opacity: 0.5;
    border: none;
    }

  &--yellow {
    color: var(--special-yellowlight);

    &:hover {
      border-bottom: 1px solid var(--special-yellowlight);
    }

    &:active {
      border: none;
    }
  }
}
