.nav {
  max-width: 940px;
  background-color: var(--basic-darkblue);
  box-shadow: inset 0px -5px 0px var(--basic-dark);

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;

    padding: 0;
    margin: 0;
  }

  &__link {
    color: var(--white);
  }

  &__item {
    padding: 16px 28px 20px;

    &:first-child {
      padding-left: 53px;
    }

    &:last-child {
      padding-right: 53px;
    }

    &:hover {
      background-color: var(--basic-dark);
    }

    &:active {
      opacity: 0.5;
      background-color: var(--darkgrey);
    }
  }
}
