.page-content {
  grid-area: content;
}

.page-content__header {
  margin: 0;

  background-color: var(--basic-ligtpink);
}
.page-content__title {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.page-content__article {
  background-color: var(--basic-backgraund);
}

.page-content__text {
  margin: 0;
}
