.pagination__list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__item {
  padding-right: 10px;

  &:last-child {
    padding-right: 0;
  }
}
.pagination__link {
  padding: 10px 15px;
  margin-right: 10px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  color: var(--black);

  border: 1px solid var(--border-pink);
  border-radius: 2px;
}
