.pagination__list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__link {
  display: inline-flex;
  padding: 10px 15px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  color: var(--black);

  border: 1px solid var(--border-pink);
  border-radius: 2px;

  &--current {
    color: var(--white);
    background-color: var(--basic-red);
    border-color: var(--basic-red);
    ;
  }

  &:hover:not(.pagination__link--current) {
    border: 1px solid var(--greylight);
  }

  &:active:not(.pagination__link--current),
  &:focus:not(.pagination__link--current) {
    outline: none;
    border: 1px solid var(--basic-red);
  }
}
