.page-content__header {
  margin: 0 0 20px;

  background-color: var(--basic-lightpink);
}

.page-content__title {
  margin: 0;
  padding: 29px 29px 30px 29px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);

  &--article {
    padding: 0;
    margin-right: 582px;
    margin-bottom: 25px;

    color: var(--black);
  }
}

.page-content__container {
  padding-top: 64px;
  padding-bottom: 68px;
}
.page-content__article {
  background-color: var(--basic-background);
}

.page-content__text {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}
