.search {
  position: relative;
  display: inline-flex;
  width: 271px;
}

.search:hover .search__svg {
  fill-opacity: 1;
}

.search__btn {
  position: absolute;
  width: 42px;
  height: 42px;
  padding: 12px 9px 13px 17px;

  background-color: inherit;
  border: none;
  outline: none;

  cursor: pointer;
}

.search__field {
  width: 247px;
  height: 100%;
  padding: 0 0 0 42px;


  background-color: inherit;
  border: none;
  outline: none;

  color: var(--white);

  &:focus {
    color: var(--black);
    background-color: var(--white);
  }

  &::placeholder {
    font-size: 18px;
    color: var(--white);
  }
}

.search__svg {
  fill-opacity: 0.5;
}

.search__field:focus + .search__btn path,
.search__btn:focus path {
  fill: var(--basic-red);
  fill-opacity: 1;
}
