.search {
  display: inline-flex;
  width: 271px;
}

.search__btn {
  width: 42px;
  height:42px;
  padding: 12px 9px 13px 9px;

  background-color: inherit;
  border: none;
  outline: none;

  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.search__field {
  width: 247px;
  height: 100%;
  padding: 0;


  background-color: inherit;
  border: none;
  outline: none;
  &:focus {
    background-color: white;
  }

  &::-webkit-input-placeholder {
    font-size: 18px;
    color: var(--white);
  }
}
