.service-menu {
  position: relative;
  width: 240px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;

  background-color: var(--basic-darkblue);

  &::after {
    content: " ";
    position: absolute;
    top: -45px;
    left: 230px;
    width: 10px;
    height: 279px;
    background-image: url("../img/icon/shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.service-menu__item {
  flex-wrap: wrap;

}

.service-menu__link {
  display: flex;
  padding: 13px 22px 17px 22px;

  color: var(--white);

  &:hover {
    background-color: var(--basic-dark);
  }

  &:active {
    color: var(--basic-darkblue);
    background-color: var(--white);
  }
}

.service-menu__item--delivery {
  border-bottom: solid 1px var(--basic-dark);
}

.service-menu__item--guarantee {
  border-top: solid 1px var(--special-dark);
  border-bottom: solid 1px var(--basic-dark);
}

.service-menu__item--credit {
  border-top: solid 1px var(--special-dark);
}
