.slider {
  grid-area: slider;
}

.slider__description {
  grid-area: 1/1/2/9;
  z-index: 1;

  padding: 23px 24px 16px 24px;
  margin: 0;

  color: var(--white);
}

.slider__desc {
  margin-bottom: 17px;
  line-height: 24px;

  &--large {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
  }
}

.slider__container {
  display: grid;
  grid-template-rows: 104px 1fr 104px;
  grid-template-columns: repeat(8, 1fr);

  background-color: var(--basic-greylight);

  &--drill {
    display: none;
  }
}

.slider__img {
  grid-area: 1/1/4/9;

  max-width: 100%;
  object-fit: contain;
}

.slider__button {
  min-height: 40px;
  margin-top: 15px;

  background-color: Transparent;
  background-image: url("../img/icon/slider-button.png");
  background-repeat: no-repeat;

  border: none;
  cursor: pointer;

  &--prev {
    grid-area: 2/1/3/2;
    z-index: 1;
    background-position: 47% bottom;
  }

  &--next {
    grid-area: 2/8/3/9;
    z-index: 1;

    transform: rotate(180deg);

    background-position: 35% 0;
  }

  &:hover {
    opacity: 0.5;
  }
  &:focus {
    outline: none;
    opacity: 0.3;
  }
}

.slider__link {
  grid-area: 3/1/4/4;
  z-index: 1;
  padding: 11px 46px 9px 46px;

  margin: 39px 15px 27px 24px;
}

.slider__list-dot {
  grid-area: 3/5/4/6;
  z-index: 1;

  display: inline-flex;
  list-style: none;

  padding: 0;
  margin: 58px 0 0 0;
}

.slider__dot {
  padding: 0;
  margin: 0 10px 0 0;

  width: 10px;
  height: 10px;

  background: var(--white);
  border-radius: 50%;

  &--current {
    background: var(--basic-red);
    border: 2px solid var(--white);
    border-radius: 50%;
  }

  &:first-child {
    margin-left: -13px;
  }
}
