.slider {
  grid-area: slider;
}

.slider__description {
  grid-area: 1/1/2/4;
  z-index: 1;

  padding-top: 23px;
  padding-left: 24px;
  margin: 0;

  color: var(--white);
}

.slider__desc--large {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider__container {
  display: grid;
  grid-template-rows: 104px 1fr 104px;
  grid-template-columns: repeat(8, 1fr);
}

.slider__img {
  grid-area: 1/1/4/9;
}

.slider__button {
  background-color: Transparent;
  background-image: url("../../img/icon/slider-button.png");
  background-repeat: no-repeat;

  border: none;
  outline:none;
  cursor: pointer;

  &--prev {
    grid-area: 2/1/3/2;
    z-index: 1;

    padding-top: 19px;
    background-position: 50% bottom;
  }

  &--next {
    grid-area: 2/8/3/9;
    z-index: 1;

    transform: rotate(180deg);

    padding-bottom: 19px;
    background-position: 35% 0;
  }
}

.slider__link {
 grid-area: 3/1/4/4;
 z-index: 1;
 padding: 11px 46px 9px 46px;
 margin-left: 24px;
 margin-top: 39px;
 margin-bottom: 27px;
}
