.sort {
  display: inline-flex;
  align-items: center;
  padding: 10px 17px 10px 19px;

  background-color: var(--basic-beige);
  border-radius: 5px;
}

.sort__note,
.sort__link {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}

.sort__note {
  margin-right: 140px;
}

.sort__list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0 46px 0 0;
}

.sort__item {
  margin-right: 70px;
  line-height: 18px;

  &:nth-child(2) {
    margin-right: 65px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.sort__link {
  border-bottom: 1px dotted var(--basic-red);
  color: var(--sort-opacity);

  &--active {
    border: none;
    color: var(--basic-red);
  }

  &:hover {
    border-bottom: 1px solid var(--basic-red);
    color: var(--black);
  }

  &:focus {
    outline: none;
    border: none;
    color: var(--basic-red);
  }
}

.sort__list-arrow {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort__item-arrow {
  padding: 0;
  margin: 0;
}

.sort__link-arrow {
  display: block;
  width: 0;
  height: 0;

  &--up {
    margin-right: 21px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--greylight);
  }

  &--down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--greylight);
  }

  &--current {
    border-top-color: var(--basic-red);
    border-bottom-color: var(--basic-red);
  }

  &:hover {
    border-top-color: var(--basic-greylight);
    border-bottom-color: var(--basic-greylight);
  }

  &:active,
  &:focus {
    outline: none;
    border-top-color: var(--error);
    border-bottom-color: var(--error);
  }
}
