.sort {
  display: inline-flex;
  align-items: center;
  padding: 10px 105px 10px 19px;

  background-color: var(--basic-beige);
  border-radius: 5px;
}

.sort__note,
.sort__link {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}

.sort__note {
  margin-right: 140px;
}

.sort__item {
  padding-right: 70px;
  line-height: 18px;

  &:nth-child(2) {
    padding-right: 65px;
  }

  &:last-child {
    padding-right: 0;
  }
}

.sort__list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort__link {
  border-bottom: 1px dotted  var(--basic-red);
  color: var(--black);
  opacity: 0.3;

  &:hover {
    border-bottom: 1px solid var(--basic-red);
    opacity: 1;
  }

  &:focus {
    border: none;
    color: var(--basic-red);
    opacity: 1;
  }
}
