.user {
  margin-top: 5px;
  text-align: center;
}

.user__inner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 299px;
  padding: 12px 15px;
  margin-bottom: 5px;

  background-color: var(--white);
}

.user__text {
  margin: 0 0px 0 21px;

  font-size: 21px;
  line-height: 21px;
}

.user__link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkblue);

  &--login {
    display: inline-flex;
    align-items: center;
    margin-right: 21px;

    color: var(--black);
  }

  &--order {
    position: relative;
    padding-right: 32px;

    &::after {
      content: " ";
      position: absolute;
      top: 8px;
      left: 90px;

      display: inline-block;
      width: 4px;
      height: 4px;

      background-color: var(--basic-darkblue);
      border-radius: 50%;
      background-repeat: no-repeat;
    }
  }

  &:active,
  &:focus {
    outline: none;
    color: var(--greylight);
  }

}

.user__link--order:hover,
.user__link--account:hover {
  color: var(--basic-red);
}


.user__link--order:active,
.user__link--account:active {
  color: var(--greylight);
}

.user__link:hover .user__svg path,
.user__link--exit:focus .user__svg--exit path {
  fill: var(--basic-grey);
}

.user__link:active .user__svg path {
  fill: var(--greylight);
}
