.user-menu {
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr;
  max-width: 280px;

  margin-top: 5px;
}

.user-menu__link {
  font-size: 21px;
  line-height: 21px;

  color: currentColor;
  background-color: var(--white);

  cursor: pointer;

  &--login {
    display: inline-flex;
    align-items: center;
    padding: 12px 27px 12px 19px;
  }

  &--registration {
    padding: 12px 24px 12px 24px;
    margin-left: 10px;
  }

  &:hover {
    color: var(--basic-red);
  }

  &:active,
  &:focus {
    outline: none;
    color: var(--greylight);
  }
}

.user-menu__link:hover path {
  fill: var(--basic-grey);
}

.user-menu__link:active path {
  fill: var(--greylight);
}

.user-menu__svg {
  display: flex;
  margin-right: 6px;
}
