.user-menu {
  display: flex;
  flex-wrap: wrap;

  margin-top: 5px;
}

.user-menu__link {
  font-size: 21px;
  line-height: 21px;

  background-color: var(--white);

  cursor: pointer;

  &--login {
    padding: 12px 27px 12px 19px;
  }

  &--registration {
    padding: 12px 24px 12px 24px;
    margin-left: 10px;
  }

  &:hover {
    color: var(--basic-red);
  }

  &:active {
    color: var(--greylight);
  }

  &:focus {
   color: aqua;
  }
}

.user-menu__link:hover path {
  fill: var(--basic-grey);
}


.user-menu__link:active path {
  fill: var(--greylight);
}
