.user {
  text-align: center;
}

.user__inner {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 15px;
  margin-bottom: 7px;
  font-size: 21px;
  line-height: 21px;

  background-color: var(--white);
}

.user__text {
  margin: 0 20px 0 0;
}

.user__link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkblue);

  &--login {
    margin-right: 21px;
  }

  &--order {
    position: relative;
    padding-right: 32px;

  &::after {
    content: " ";
    position: absolute;
    top: 8px;
    left: 90px;

    display: inline-block;
    width: 4px;
    height: 4px;

    background-color: #32425C;
    border-radius: 50%;
    background-repeat: no-repeat;
    }
  }
}
